@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #e5f6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0f766e;
  --color-accent: #06b6d4;
  --color-primary-strong: #1d4ed8;
  --font-sans: 'Poppins', sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
